<div id="game-view">
    <div id="game" class="glass-panel">
        <div id="playerDeck" class="deck"> 
            <div class="window game-header">
                <span data-bind="text: game().getPlayer().userName"></span>
            </div>
            <ul data-bind="foreach: game().getPlayer().hand().playCards, css: { greyscale: !game().getPlayer().isReady() }">
                <li class="card" data-bind="drag: {value: $parent.dragging}">
                    <img data-bind="attr: {src: image}"/>
                </li>
            </ul>
        </div>
        <div id="board"> 
            <div class="window game-header" style="margin-bottom: 60px;">
                <!-- ko if: game().isStarted() -->
                <span data-bind="text: game().getPlayerScore()"></span>:
                <span data-bind="text: game().getEnemyScore()"></span>
                <!-- /ko -->
            </div>
            <!-- ko foreach: game().board -->
            <ul data-bind="foreach: $data, attr: {index: $index}" class="boardContainer">
                <li data-bind="if: $data, drop: {onDropComplete: $parents[1].placeCard}, attr: {index: $index}">
                    <div data-bind="css: { playerField: ownedBy() == app.getConnectionId(), enemyField: ownedBy() != app.getConnectionId() }">
                        <img data-bind="attr: {src: image}"/>
                    </div>
                </li>
            </ul>
            <!-- /ko -->
        
        </div>
        <div id="enemyDeck" class="deck"> 
            <div class="window game-header">
                <span data-bind="text: game().getEnemy().userName"></span>
            </div>
            <div data-bind="foreach: game().getEnemy().hand().playCards, css: { greyscale: !game().getPlayer().isReady() }">
                <div class="card">
                    <img data-bind="attr: {src: image}"/>
                </div>
            </div>
        </div>
    </div>
</div>