<div id="home-view">
    <div id="home">
        <div class="window">
            <h1>Welcome</h1>
        </div>
        <div class="window" data-bind="scrollbar: {}" id="home-scrollbar">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                <div class="overview" data-bind="foreach: news">
                    <div class="news">
                        <h3 data-bind="text: title"></h3>
                        <div class="news-version" >
                            <span data-bind="text: date"></span>
                            <!-- ko if: version -->
                            <span data-bind="text: 'ver. ' + version"></span>
                            <!-- /ko -->
                        </div>
                        <!-- ko if: type == 'news' -->
                            <!-- ko foreach: texts -->
                                <p data-bind="text: $data"></p>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: type == 'change' -->
                            <ul class="news-change-list">
                            <!-- ko foreach: texts -->
                                <li><span data-bind="text: $data"></span></li>
                            <!-- /ko -->
                            </ul>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>