@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div data-bind="loadingWhen: view().isLoading">
    <div data-bind="fadeVisible: view, template: { name: view().viewName, data: view }"></div>
</div>