/*
@reference "common.css";
*/
#game
{
	bottom: 0;
	height: 580px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 800px;
}

#games
{
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 600px;
}

#deck
{
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 600px;
}

.deck ul
{
	list-style-type: none;
}

.game-header
{
	line-height: 30px;
	min-height: 30px;
	text-align: center;
}

	.game-header ul,
	.game-header #enemy-cards
	{
		height: 519px;
	}

#board-container
{
	height: 578px;
	left: 150px;
	position: absolute;
	right: 150px;
}

	#board-container > div#board
	{
		height: 486px;
		padding-top: 40px;
	}

		#board-container > div#board > div
		{
		}

	#board-container > div > div > ul
	{
		height: 150px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

		#board-container > div > div > ul > li
		{
			border: 2px ridge rgb(126, 126, 126);
			-moz-box-shadow: inset 0px 0px 30px 18px #222;
			-webkit-box-shadow: inset 0px 0px 30px 18px #222;
			box-shadow: inset 0px 0px 30px 18px #222;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			height: 100%;
			margin-left: -4px;
			vertical-align: top;
			width: 125px;
		}

			#board-container > div > div > ul > li > div
			{
				height: 100%;
				width: 100%;
			}

				#board-container > div > div > ul > li > div.playerField
				{
					background-color: rgba(0, 0, 255, 0.4);
					-moz-box-shadow: 0px 0px 30px 12px rgba(0, 0, 255, 0.4);
					-webkit-box-shadow: 0px 0px 30px 12px rgba(0, 0, 255, 0.4);
					box-shadow: 0px 0px 30px 12px rgba(0, 0, 255, 0.4);
				}

				#board-container > div > div > ul > li > div.enemyField
				{
					background-color: rgba(255, 0, 0, 0.4);
					-moz-box-shadow: 0px 0px 30px 12px rgba(255, 0, 0, 0.4);
					-webkit-box-shadow: 0px 0px 30px 12px rgba(255, 0, 0, 0.4);
					box-shadow: 0px 0px 30px 12px rgba(255, 0, 0, 0.4);
				}

				#board-container > div > div > ul > li > div > img
				{
					margin-top: 15px;
				}

.card-slot-over
{
	background-color: rgba(255, 255, 255, 0.4);
}

#playerDeck
{
	left: 10px;
	position: absolute;
	width: 140px;
}

	#playerDeck > div > ul
	{
		margin: 0px;
		margin-top: 16px;
		padding-left: 0px;
	}

#enemyDeck
{
	position: absolute;
	right: 10px;
	width: 140px;
}

	#enemyDeck #enemy-cards
	{
		margin-top: 16px;
	}

	#enemyDeck div.card
	{
		float: left;
		margin-left: 18px;
	}

.deck .card:not(:first-child)
{
	margin-top: -30px;
}

#deck .card:not(:first-child)
{
	margin-top: -60px;
}

#game-result-panel
{
	background-color: rgba(75, 81, 104, 0.85);
	bottom: 50px;
	-moz-box-shadow: 0px 0px 30px 12px rgba(75, 81, 104, 0.85);
	-webkit-box-shadow: 0px 0px 30px 12px rgba(75, 81, 104, 0.85);
	box-shadow: 0px 0px 30px 12px rgba(75, 81, 104, 0.85);
	left: 0px;
	position: absolute;
	right: 0px;
	top: 50px;
	color: #FFF;
	-webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	font-size: 120%;
}

#game-result-container
{
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: auto;
	height: 440px;
}

#game-result-title
{
	font-family: fantasy;
	font-size: 140px;
	-webkit-text-shadow: -1px 0 black, 4px 4px black, 2px 0 black, 0 -1px black;
	text-shadow: -1px 0 black, 4px 4px black, 2px 0 black, 0 -1px black;
}

#game-result-title:first-letter
{
	font-size: 160px;
}

#game-result-title.draw:first-letter
{ 
	color: blue;
}

#game-result-title.won:first-letter
{ 
	color: green;
}

#game-result-title.lost:first-letter
{ 
	color: red;
}

#game-result-content
{

}

#game-result-buttons
{
	margin-top: 30px;
}

#game-result-buttons input[type=button]
{
	width: 80px;
	height: 40px;
}

