/*
@reference "common.css";
*/
#game
{    
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0; 
    margin:auto; 
    height:580px; 
    width:800px;
    
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#games
{
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 100%;
}

#deck
{
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 100%;
}

.deck ul
{
	list-style-type: none;
}

.game-header
{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
    
#board
{
    position: absolute;
    left: 150px;
    right: 150px;
}
    
#board > ul
{
    list-style-type: none;
    padding-left: 80px;
    height: 135px;
	margin: 0px;
}

#board > ul > li
{
	display: inline-block;
	width: 118px;
	height: 100%;
	vertical-align: top;
	margin-left: -4px;
	border: 1px solid black;
}

#board > ul > li > div
{
	width: 100%;
	height: 100%;
}

#board > ul > li > div.playerField
{
	background-color: rgba(0, 0, 255, 0.4);
}

#board > ul > li > div.enemyField
{
	background-color: rgba(255, 0, 0, 0.4);
}

#board > ul > li > div > img
{
	margin-left: 12px;
	margin-top: 6px;
}

.card-slot-over
{
	background-color: rgba(255, 255, 255, 0.4);
}
    
#playerDeck
{
    position: absolute;
    left: 10px;
    width: 140px;
}

#playerDeck > ul
{
	padding-left: 25px;
}
    
#enemyDeck
{
    position: absolute;
    right: 10px;
    width: 140px;
}
    
#enemyDeck div.card
{
    margin-left: 25px;
    float: left;
}

.deck .card:not(:first-child)
{
    margin-top: -30px;
}

#deck .card:not(:first-child)
{
    margin-top: -60px;
}
